//FONTS
$font: 'Open Sans', sans-serif; 

//COLORS
$white: #fff;
$accent: #ff074e;
$grey: #4e5860;
$black: #000000;

//GRID
$gatter: 30px; 
$grid-count: 12;  
$mobile-width: 320px;
$tablet-width: 768px;
$conteiner-width: 1170px;   
$viewports: (  
	xs: $mobile-width,
	sm: $tablet-width,
	md: $conteiner-width
);  